@font-face {
   font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro/MyriadPro-Black.eot');
    src: local('Myriad Pro'), local('MyriadPro-Black'),
        url('fonts/MyriadPro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
        url('fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
}
body{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Myriad Pro', serif;
    font-weight: 400;
}
a {
    text-decoration: none;

}
#changeTheme{
    margin: 30px;
    float: right;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(53, 68, 79);
    color: #fff;

/*    background-color: coral;*/
    cursor: pointer;
}
#changeTheme:hover{
    opacity: 0.8
}
a:hover{
    opacity: 0.5;
}

.logo{
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
}
.topref{
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
}
ul{
    list-style: none;
}
.navigationlist{
    text-align: center;
    padding: 0;
    background-color: rgb(53, 68, 79);
    margin-bottom: 30px;

}

.navigationlist li{
    display: inline-block;
    padding: 21px 42px;


}
.navigationlist a{
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;

}
.dark{
    background-color: rgb(34, 47, 58);
    height: auto;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.leftblock{
    max-width: 344px;
    float: left;
    border: 1px solid black;
}
.leftblock ul{
    width: 344px;
    height: 399px;
    margin: 0;
    padding: 0;

}
.leftblock li{
    display: block;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    padding: 23px 43px;
}

.leftblock li a{
    color:  #485863;
}
.leftblock li:hover a{
    margin-left: 45px;
}
.gray{
    background-color: rgb(220, 220, 220);
}
.rightblock{
    max-width: 885px;
    float: right;
}
.image{
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imginside{
    display: block;
    margin: auto;
    transition: all 2s;
}
.image:hover .imginside{
    transform: scale(1.3);
    overflow: hidden;

}
.clearfix{
    clear: both;
}
p{
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer{
    margin-top: 51px;
    background-color: rgb(181, 184, 187);
    color: #041222;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}
.footer div{
    padding-left: 21px;
    padding-right: 21px;
}
span{
    margin: 0 5px;
}
span a{
    color: #041222;
}
.specialspan{
    color: rgb(45, 130, 167);
    border-bottom: 1px solid rgb(45, 130, 167);
}

.copyright {
    float: right;
}