body{
    background: url("files/bg-stars.png");
    background-size: cover;
    color: #fbcf00;
}

.starwars {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", Arial, Verdana, sans-serif;
    font-weight: 700;
    overflow: hidden;
    position: relative;
}

.intro{
    position: relative;
    max-width: 16em;
    font-size: 300%;
    font-weight: normal;
    margin: 20% auto;
    color: #4ee;
    opacity: 0;
    text-align: center;
    animation: intro 2s ease-out;
}

.main-content{
    margin: auto;
    position: absolute;
    width: 98%;
    height: 50em;
    bottom: 0;
    font-size: 80px;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(35deg);
}

.heading{
    position: absolute;
    top: 100%;
    text-align: center;
    animation: scroll 30s linear 3s;
    animation-iteration-count: infinite;
}
.content-header {
    text-align: center;
}
@keyframes intro {
    0% { opacity: 1; }
    80% { opacity: 1;}
    100% { opacity: 0; }
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}
.hidden{
    display: none;
}

