@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Black.eot');
    src: local('Myriad Pro'), local('MyriadPro-Black'),
    url('../fonts/MyriadPro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
}
body{
    font-family: Montserrat, sans-serif;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-image: url("../imgs/bg1.jpg");
    height: 100vh;
    position: relative;
}
.bg-2{
    background-image: url("../imgs/bg2.jpg");
}
.bg-3{
    background-image: url("../imgs/bg3.jpg");
}
.bg-4{
    background-image: url("../imgs/bg4.jpg");
}
.paddings{
    padding: 45px 0;
}
.sertiz{
    position: absolute;
    bottom: 140px;
    left: 80px;
    color: #fff;
}
.sertiz h2{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
}
.sertiz p{
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    padding-bottom: 30px;
}
.sertiz div{
    text-transform: uppercase;
    font-size: 54px;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 40px 28px 40px 0;
    background-color: rgba( 0,0,0, 0.4);
    white-space: nowrap;
}
.sertiz span{
    text-align: left;
    color: #f1ad1d;
    padding: 37px 28px;
    margin-right: 15px;
    background-color: white;
}

.container{
    width: 830px;
    margin: 0 auto;
}
.title{
    padding-top: 150px;
    text-align: center;
}
.title h2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.title  p{
    font-family: Lato, sans-serif;
    font-size: 17px;
    margin-top: 15px;
    color: #7a7772;
}
.orange-line{
    text-align: center;
    padding: 60px 0;
}
.title-withbg h2{
    color: #fff;
}
.title span{
    color:   #f1ad1d;
}
.company-names{
    display: flex;
    justify-content: space-between;
}
.title-withbg p{
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}
.while-line{
    text-align: center;
    padding: 60px 0;
}