@font-face {
    font-family: 'Arimo';
    src: local('Arimo'), url('fonts/arimo.woff2') format('woff2'), url('fonts/arimo.woff') format('woff'), url('fonts/arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Arimo';
    src: local('Arimo Bold'), local('Arimo-Bold'), url('fonts/arimobold.woff2') format('woff2'), url('fonts/arimobold.woff') format('woff'), url('fonts/arimobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

table {
    width: 1148px;
    height: 616px;
    vertical-align: center;
    text-align: center;
    border-collapse: collapse;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color:  #484848;
}
i{
    padding-bottom: 6px;
    opacity: 0.6;
    font-size: 24px;
}
td{
    width: 157px;
    height: 166px;
    line-height: 24px;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.17);
}
.upper-row td{
    height: 112px;
}
th{
    background-color:  #fafafa;
    width: 198px;

}

.big{
    font-size: 20px;
}
.small{
    font-size: 14px;
}
tr td:nth-child(even){
    background-color: #e3e3e3;
}
tr td:nth-child(odd){
    background-color: #f2f2f2;
}

.green{
    background-color: #89c331;
    color: #fff;
}
.red{
    background-color: #f04a56;
    color: #fff;
}
.blue{
    background-color: #20807c;
    color: #fff;
}
.tarif{
    display: inline-block;
    font-size: 24px;
    padding-bottom: 14px;
}
.bignumb{
    font-size: 36px;
}
.smallnumb{
    font-size: 18px;
}
sup{
    font-size: 18px;
}
.pm{
    font-size: 14px;
    font-weight: normal;
}
a{
    display: inline-block;
    width: 144px;
    height: 41px;
    box-sizing: border-box;
    margin-top: 24px;
    padding-top: 12px;
    border-radius: 3px;
    border-bottom: 5px solid #343434;
    background-color: #414141;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
a:hover {
    box-shadow: inset 50px 19px 300px 0px rgba(0, 0, 0, 0.42);
    color: #ddd;
}