
body {
    width: auto;
    height: 768px;
    margin: auto;
    background-image: url('../img/Journey.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
a{ 
    text-decoration: none;
    color: white;
}
header div a {
    color: rgb(60, 184, 120);
}
header div a:hover{
    border-bottom: 1px solid rgba(255,255,255, .5);
}
header {
    background-color: rgba(0, 0, 0, 0.41);
    width: auto;
    height: 54px;
    position: relative;
}
header p{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 81px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
header p a:hover{
    color: rgb(60, 184, 120);
}
.sprites{
    position: relative;
    border-right: 1px solid rgba(255,255,255, .5);
    
}
.sprites li{
    list-style: none;
    position: absolute;
    top: 20px;
    right: 500px;
    
}
.sprites li, .sprites a{
    height:20px;
    display: block;
}
#calculator{
    width:20px;
    background: url(../img/header-icons.png) 0 0;
}
#calculator-green{
    width:20px;
    background: url(../img/header-icons-gr.png) 0 0;
    z-index: -1;
}

#calculator:hover{
    z-index: -2;
}
#text{
    width:32px;
    right: 440px;
    background: url('../img/header-icons.png') -44px 0;   
}
#text-green{
    width:32px;
    right: 440px;
    background: url('../img/header-icons-gr.png') -44px 0; 
    z-index: -1;
}
#text:hover{
    z-index: -2;
}
#compas{
    width: 21px;
    right: 392px;
    background: url('../img/header-icons.png') -103px 0;
}
#compas-green{
    width: 21px;
    right: 392px;
    background: url('../img/header-icons-gr.png') -103px 0;
    z-index: -1;
}
#compas:hover{
    z-index: -2;
}
header div{
    position: absolute;
    top: 22px;
    right: 120px;
    padding-left: 25px;
    border-left: 1px solid rgba(255,255,255, .5);
    font-size: 14px;
    color: white;
    
}
.container {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.registration{ 
    width: 444px;
/*    height: 584px;*/
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.greencub {
    position: absolute;
    top: 29px;
    width:20px;
    height: 20px;
    background-color: rgb(60, 184, 120);
    left: 0;
}
.reg__info {
    width: 330px;
    height: 550px;
    margin: 0 auto;
/*    border: 1px solid red;*/
    margin-top: 26px;
}
.row1 .left{
    float: left;
    font-size: 20px;
}
.row1 .right a{
    box-sizing: border-box;
    color: rgb(60, 184, 120);
    float: right;
    font-size: 14px;
    line-height: 160%;
}
.row1 .right a:hover{
 border-bottom:  1px solid rgb(60, 184, 120);
}
.clearfix{
    clear: both;
}
.row2{ 
    margin: 0 auto;
}
.row2 a{
    width: 157px;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 14px;
    margin-top: 15px;
    margin-bottom: 28px;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(255,255,255, 0.7);
}

.facebook{
    float: left;
    background-image: url(../img/facebook1.png);
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-color: #305db8;
    left: 10px;
  
    padding-left: 18px;
}
.facebook:hover{
    background-color: #264b96;
}
.google{
    float: right;
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
    background-position: 12px 15px;
    background-color: #df4a32;
    padding-left: 30px;
}
.google:hover{
    background-color: #c3412c;
}
.row2 span{
    padding-left: 18px;
    border-left: 1px solid rgba(0,0,0, 0.3);
}
.orline{
    text-align: center;    
}
.login-text-field{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid rgb(236, 236, 236);
    font-family: Verdana;
    color:  #434343;
    font-size: 14px;
    outline: none;
}
.login-text-field:focus{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
label {
    display: block; 
    position: relative;
    margin-top: 20px;
    padding-left: 35px;
    padding-top: 6px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    
}
label input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.checkmark{ 
    position: absolute;
    top: 1px;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: white;
    border: 1.5px solid #eee;
    border-radius: 1px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
label input:checked ~ .checkmark:after {
    display: block;
}
label .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;;
    transform: rotate(45deg);
}
label a{
    color: #3cb878;
}
label a:hover{
    text-decoration: underline;
}
.a__btn{
    display: block;
    width: 100%;
    background-color: #3cb878; 
    border-radius: 2px;
    margin-top: 24px;
    text-align: center;
    padding: 16px 0;
}
.a__btn:hover{
    background-color: #329a65;
}
