/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*...............................*/
body {
    margin: 0 auto;
    width: 100%;
    max-height: 768px;
    background: url(img/background.png) no-repeat center;
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.container {
    max-width: 1070px;
    max-height: 100%;
    margin: auto;
    padding-top: 49px;
}

a {
    text-decoration: none;
    color: white;
}
header{
    display: grid;
    grid-template-columns: auto auto;
}
header p {

    color: white;
}

header .logo {
    /*left: 0;*/
    /*color: white;*/
    /*display: inline-block;*/
    width: 160px;
    position: relative;

}

header .orange {
    display: none;
}

span.top {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

span.bottom {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
header .contacts {
    /*float: right;*/
    text-align: right;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.gallery{
    margin-top: 47px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 35px 68px;

}
figure img {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to bottom, #fff, #000);
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #fff, #000);
    border-bottom: black;
    box-shadow: 0 17px 24px 0 #000000;
}
figcaption {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}

footer p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 50px;
}

.logo:hover span {
    color: rgb(242, 101, 34);
}

.logo:hover .orange {
    display: inline-block;
}

.logo:hover .white {
    display: none;
}

figure.droppingup {
    display: inline-block;
    position: relative;
}

div.dropup-content {

    position: absolute;
    background-color: rgb(242, 101, 34);
    width: 312px;
    height: 0;
    color: white;
    bottom: 45px;
    transition: all .5s linear;
    overflow: hidden;
}

.droppingup:hover .dropup-content {

    height: 63px;
}

.droppingup:hover a {
    color: rgb(242, 101, 34);
}
/*Выравнивание элементов внутри всплывающего блока*/
.sp1 {
    position: absolute;
    top: 16px;
    left: 21px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;


}

.sp2 {
    position: absolute;
    top: 31px;
    left: 21px;
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.sp3 {
    position: absolute;
    bottom: 17px;
    right: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.sp4 {
    position: absolute;
    bottom: 17px;
    right: 40px;
    color: #ffffff;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}