table{
    width: 614px;
    height: 750px;
    border: 20px solid #3e3e3e;
    border-collapse: collapse;
}
td{
    border: 10px solid #3e3e3e;
    width: 4px;
    height: 4px;
}
.white {
    background-color: #f3f3f3;
}
.black {
    background-color: #000;
}
.blue{
    background-color: #0d7fbe;
}
.yellow{
    background-color: #fae317;
}
.red{
    background-color: #f50f0f;
}
